<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бородино - барбершоп</title>
    <link rel="icon" href="media/svg-editor-image.svg" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <header th:insert="blocks/header"></header>

    <div class="banner">
        <img class="main-back" src="/img/background6.jpg">
        <div class="banner-text">
            <span>barbershop</span>
            <h1>Галерея</h1>
        </div>
    </div>
    <section class="black">
        <div class="container">
            <div class="gallery">
                <img src="/img/img1.jpg" alt="Картинка 1" />
                <img src="/img/img2.jpg" alt="Картинка 2" />
                <img src="/img/img3.jpg" alt="Картинка 3" />
                <img src="/img/img1.jpg" alt="Картинка 4" />
                <img src="/img/img1.jpg" alt="Картинка 1" />
                <img src="/img/img2.jpg" alt="Картинка 2" />
                <img src="/img/img3.jpg" alt="Картинка 3" />
                <img src="/img/img1.jpg" alt="Картинка 4" />
                <img src="/img/img1.jpg" alt="Картинка 1" />
                <img src="/img/img2.jpg" alt="Картинка 2" />
                <img src="/img/img3.jpg" alt="Картинка 3" />
                <img src="/img/img1.jpg" alt="Картинка 4" />
              </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-container">
                <h2>Для вас скидка!</h2>
                <p>Введите Email, чтобы получать сообщения об акциях и промокоды на скидку</p> 
                <div class="subscribe">
                    <input type="email" placeholder="Ваш E-mail">
                    <button><i class="fab fa-telegram-plane"></i></button>
                </div>
            </div>
            <img class="ilustr" src="https://top-barbershop.com/media/2019/02/IMG_1678.jpg">
        </div>
    </section>

    <div th:insert="blocks/footer"></div>

</body>
</html>
