<footer class="footer">
    <div class="footer-row">
        <div class="footer-col">
            <h4>Контакты</h4>
            <p class="adress">
                г. Москва, пр. Вернадского, д. 87
            </p>
            <p class="phone-number">
                + 7(900) 555-00-11
            </p>
            <p class="mail">
                borodino@barbershop.com
            </p>
        </div>
        <div class="footer-col">
            <h4>О нас</h4>
            <p>
                Бородино - это именно то место, где знают все секреты мужских стрижек, правила бритья и ухода за бородой и усами.
            </p>
            <div class="social-links">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-vk"></i></a>
            </div>
        </div>
        <div class="footer-col">
            <h4>Время работы</h4>
            <p>Пн-Пт: 9:00-20:00</p>
            <p>Сб-Вс: 9:00-18:00</p>
        </div>
    </div>
</footer>
<div class="subfooter">© 2022 Kontsenberg Ilya. All Right Reserved.</div>